#root {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #141418;
  margin-left: 38px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text {
  font-weight: 700;
  font-size: 18px;
  color: red;
}
